
.main-header {
    background-color: black; 
    color: rgb(117, 75, 24);
    padding: 2rem;
    font-family: 'Bungee', cursive;
    
}
 
 .sub-header {
     background-image: url(../assets/estrellas.jpg);
     background-color: rgb(133, 133, 206);
     padding right: 2rem;
 }
 img {
     max-width: 100%;
 }