header {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 0rem;
    align-items: center;
    background-color: brown;
    color: bisque;
}

header h1 {
    margin: 0;
    width: 80%;
    text-align:center;
}

header div {
    width: 20%;
}

header div img {
    max-width: 100%;
}