section {
    min-height: 80vh;
    display: flex;
    /* alineacion del eje principal por defecto es: flex start */
    justify-content: center;
    /* alineacion en el eje secundario por defecto es: stretch */
    align-items: center;
}
.item-flex {
    background-color: rgba(250, 128, 114,0.5);
    text-align: center;
    padding: 2rem;
}